{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    
    <div class="container">

        <h1 class="my-4 text-center">Inscription</h1>

        {{ form_start(registrationForm) }}
        
            {{ form_row(registrationForm.civilite) }}        
            {{ form_row(registrationForm.prenom, { label: 'Prénom' } ) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.taille) }}
            {{ form_row(registrationForm.poids) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.telephone, { label: 'Téléphone' } ) }}
            {{ form_row(registrationForm.naissance, { label: 'Date de naissance' } ) }}
            {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' } ) }}
            {{ form_row(registrationForm.agreeTerms, { label: 'Veuillez accepter les termes et conditions' } ) }}

        <button type="submit" class="btn btn-dark my-3">Enregistrer</button>

    {{ form_end(registrationForm) }}
    
    </div>
    

    
{% endblock %}